#c++ files
*
!*/
!*.*
*.exe

# USACO input and output files
*.in
*.out

#vscode
.vscode/*

#current contest
USACO/Bronze/2024/December

# Advent of code inputs
*.txt

# env for downloading inputs 
.env
